body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #064dbf;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
}